body {
  font-family: Arial;
  background-color: #dad7cb;
  color: #2e2d29;
  text-align: center;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: #F9F6EF;
  border-top: none;
}

.container {
  width: 80%;
  display: inline-block;
  text-align: left;
}

.text-tab {
  padding: 10px 50px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 98%;
  }
  .text-tab {
    padding: 6px 12px;
  }
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 0px solid #ccc;
  background-color: #8c1515;
  border-radius: 10px 10px 0px 0px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
  border-radius: 10px 10px 0px 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #B1040E;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #B1040E;
}



.text-link {
  color: #8c1515; 
}

.text-link:hover {
  color: #B1040E; 
}

img {
  border-style: solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}